{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <h1 class="mb-5">Add Product</h1>
                        {{ form(our_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
</style>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
