{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    {% include('flash-messages.html.twig') %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5">
                    <h1 class="mb-5">Add Product</h1>
                    {{ form(add_product_form) }}
                </div>
            </div>
            <div class="row justify-content-center mt-5     ">
                <div class="col-3">
                    <button class="btn btn-outline-secondary btn-block" onclick="listProductClick()">List Product</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function listProductClick() {
            window.location.replace("/");
        }
    </script>
{% endblock %}