{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>PRODUCT DETAIL</h1>

                <strong>Product :Id <span>{{ detail_product.id }}</span></strong> <br/>
                <strong>Product Name: <span>{{ detail_product.productName }}</span> </strong> <br/>
                <strong>Product Price: <span>{{ detail_product.prices }}</span> </strong>
            </div>
        </div>
    </div>

{% endblock %}