{% include('base.html.twig') %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="mb-5">LIST PRODUCT</h1>
            </div>
            <div class="col-6">
                <button class="btn btn-outline-primary" onclick="addClick()">Add Product</button>
            </div>
            <div class="col-12">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in list_product %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.productName }}</td>
                            <td>{{ item.prices }}</td>
                            <td>
                                <a target="_blank" href="/detail/{{ item.id }}" class="btn btn-outline-warning">Details</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        
        function addClick() {
            window.location.replace("/addproduct");
        }
    </script>

{% endblock %}